body {
  margin: 0;
}

h2 {
  margin: 0;
  font-size: 18px;
  color: #194e84;
}

.app {
  margin: 0 auto;
  max-width: 800px;
  border: 10px solid #000;
}

.wrap {
  padding: 20px;
}

.reviewInputWrap {
  background: #f5f5f5;
}

.reviewCardsWrap {
  background: #f5f5f5;
}