// reset
* {
  box-sizing: border-box
}

body {
  margin: 0;
}

h2, h4 {
  margin: 0;
  font-size: 18px;
  color: #194e84;
}

h3, p {
  font-size: 14px;
  color: #194e84;
}

ul {
  padding: 0;
  list-style: none;
}

input {
  height: 40px;
  width: 100%;
  padding-left: 10px;
  font-size: 14px;
  outline: 0;
  border-radius: 5px;
  border: 1px solid #ddd;
  color: #000;
  &::placeholder {
    color: #ccc;
  }
}

.app {
  margin: 0 auto;
  max-width: 400px;
  border: 5px solid #000;
}

.wrap {
  padding: 20px;
}

// 신규 리뷰 등록
.reviewInputWrap {
  background: #f5f5f5;
}

// 리뷰 검색
.reviewSearchWrap {
  h2 {
    margin-bottom: 14px;
  }
  input {
    background: #f5f5f5;
  }
}

// 리뷰 내역
.reviewCardsWrap {
  background: #f5f5f5;
}

// 리뷰
.reviewCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
  padding: 10px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  min-height: 150px;
}

.scoreRow {
  display: flex;
}

.circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #fcf67b;
  &:not(:last-child) {
    margin-right: 5px;
  }
}

// dropdown
.dropdown {
  position: relative;
}

.dropdownSelected {
  display: flex;
  align-items: center;
  height: 40px;
  width: 100%;
  padding-left: 10px;
  background: #fff;
  border-radius: 5px;
  border: 1px solid #ddd;
  &:hover {
    cursor: pointer;
  }
}

.dropdownMenu {
  border-radius: 5px;
  border: 1px solid #ddd;
  position: absolute;
  width: 100%;
  background: #fff;
  &:hover {
    cursor: pointer;
  }
}

.dropdownItem {
  padding: 10px;
  &:not(:first-child) {
    padding-top: 10px;
    border-top: 1px solid #ddd;
    width: 100%;
  }
}

// button
.inputBtn {
  width: 100%;
  height: 40px;
  margin-top: 20px;
  background: #194e84;
  border-radius: 10px;
  color: #fff;
  font-size: 15px;
  border: none;
  &:hover {
    cursor: pointer;
  }
}