// reset
* {
  box-sizing: border-box
}

body {
  margin: 0;
}

h2, h4 {
  margin: 0;
  font-size: 18px;
  color: #194e84;
}

h3, p {
  font-size: 14px;
  color: #194e84;
}

ul {
  padding: 0;
  list-style: none;
}

input {
  height: 40px;
  width: 100%;
  padding-left: 10px;
  font-size: 14px;
  outline: 0;
  border-radius: 5px;
  border: 1px solid #ddd;
  color: #000;
  &::placeholder {
    color: #ccc;
  }
}

.app {
  margin: 0 auto;
  max-width: 400px;
  border: 5px solid #000;
}

.wrap {
  padding: 20px;
}

// 리뷰 검색
.reviewSearchWrap {
  h2 {
    margin-bottom: 14px;
  }
  input {
    background: #f5f5f5;
  }
}